.typing-challenge {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  position: relative;
}

.timer-container {
  margin: 16px;
  /* margin-bottom: 0; */
}

.timer {
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  color: #e6e6e6;
  font-variant-numeric: slashed-zero;
}

.timer-info {
  margin: 0;
  margin-top: -5px;
  color: #dd5044;
}

.textarea-container {
  margin: 16px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 80%;
}

.textarea-left,
.textarea-right {
  display: flex;
  width: 50%;
  flex-grow: 1;
}

.textarea {
  text-align: left;
  flex-grow: 1;
  height: 270px;
  width: 60%;
  padding: 10px;
  line-height: 18px;
  flex-wrap: wrap;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: scroll;
  position: absolute;
  left: 20%;
  font-size: 75px;
}

.textarea::-webkit-scrollbar {
  display: none;
}

.textarea {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.correctWord {
  color: #e2b714;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

.incorrectWord {
  color: red;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}
.standard-word {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #646669;
}
.current-word {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  border-left: solid #965f33;
  color: #646669;
}
.textarea-hidden {
  text-align: left;
  flex-grow: 1;
  height: 50px;
  width: 60%;
  padding: 10px;
  line-height: 18px;
  flex-wrap: wrap;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #784c29;
  position: absolute;
  background: transparent;
  left: 20%;
  top: 88%;
  caret-color: red;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

.div-inline {
  display: inline;
}

.level-container {
  display: flex;
  color: #e6e6e6;
}

.level-button {
  margin: 3px;
  border: none;
  background-color: transparent;
  font-size: 1em;
  color: grey;
  height: 25px;
}
.level-button:hover {
  color: #715b0a;
  cursor: pointer;
}
.level-button:focus {
  color: #715b0a;
}
.refresh-icon {
  color: grey;
  padding-right: 5px;
}
.refresh-icon:hover {
  color: #715b0a;
  cursor: pointer;
}

.level-title {
  height: 25px;
  margin: 3px;
  padding: 1.5px;
}

.icons-row {
  display: flex;
}

.moving-line {
  transition: 0.5;
}
.line-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #ff005e);
}
