.background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.modalWrapper {
  width: 80%;
  height: 65%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  background: #323437;
  color: #000;
  position: relative;
  z-index: 10;
  border-radius: 10px;
  color: #d1d0c5;
  overflow: hidden;
}
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.8;
  color: #141414;
}
.closeBtn {
  float: right;
}
.closeBtn:hover {
  cursor: pointer;
  text-decoration: none;
}
.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #e3b814;
}
.leaderboard-title {
  color: #646669;
}
table {
  border-collapse: collapse;
  width: 70%;
  line-height: 30px;
}

.moving-line {
  transition: 0.5s;
}

.line1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #e3b814);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transfrom: translateX(100%);
  }
}
.line2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #e3b814);
  animation: animate2 1s linear infinite;
  animation-delay: 1s;
}
@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transfrom: translateY(100%);
  }
}
.line3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, #e3b814);
  animation: animate3 1s linear infinite;
}
@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transfrom: translateX(-100%);
  }
}
.line4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, transparent, #e3b814);
  animation: animate4 1s linear infinite;
  animation-delay: 1s;
}
@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transfrom: translateY(-100%);
  }
}
