@font-face {
  font-family: "MyFont";
  src: local("Myfont"), url(../../font/Cyberpunk.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  min-height: 100vh;
}
.box {
  position: relative;
  width: 500px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
}
.box::before {
  content: " ";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.box::after {
  content: " ";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}
.box::before,
.box::after {
  background: linear-gradient(235deg, #ff005e, #000000, #e3b814);
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  position: relative;
  display: inline-block;
  padding: 30px 30px;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  color: #2196f3;
}

a:hover {
  color: #255784;
  background: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 10px #2196f3, 0 0 40px #2196f3,
    0 0 80px #2196f3;
  transition-delay: 1s;
  cursor: pointer;
}
a span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}
a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}
a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

a span:nth-child(2) {
  right: 0;
  top: -100%;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}
a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

a span:nth-child(4) {
  left: 0;
  bottom: -100%;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}
a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
h1 {
  font-family: "myFont";
  font-size: 2.2em;
}
p {
  font-size: 1.3em;
  color: #e6e6e6;
}
@media screen and (max-width: 550px) {
  .box {
    width: 400px;
  }
  h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 420px) {
  .box {
    width: 350px;
  }
}
@media screen and (max-width: 355px) {
  .box {
    width: 300px;
    height: 500px;
  }
  h1 {
    font-size: 20px;
  }
}
