.details-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #e6e6e6;
}

.details-card-container > p {
  margin: 0;
}

.card-name {
  font-size: 15px;
  /* padding-top: 16px; */
  margin-bottom: -15px !important;
}

.card-value {
  font-size: 50px;
  font-weight: 800;
  margin: 0;
  padding-top: 10px;
}
@media screen and (max-width: 425px) {
  .card-name {
    font-size: 10px;
  }
  .card-value {
    font-size: 30px;
  }
}
